main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow-y: auto;
}

.slot-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 0;
}

section {
  flex: 1;
  width: 100%;
  max-width: 600px;
  min-height: 0;
  overflow: hidden;
}

.canvas-container {
  overflow: hidden;
}

.content-container {
  padding: 15px;
  overflow-y: auto;
}

.content-container h1,
.content-container h2,
.content-container p {
  margin: 15px 0;
}

.content-container h2 {
  padding-left: 12px;
  font-size: 17px;
  color: var(--shadow);
  border-left: solid 2.5px var(--shadow);
}
